@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  margin: 0px;

  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: "Bai Jamjuree", sans-serif;
  color: white;
  text-align: center;

  font-size: 45px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
  z-index: 1;

  font-size: 25px;
  color: white;
}
.app::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right top, #000000, #073c5a48);
  z-index: -1;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-size: 70px;
}

h2 {
  font-size: 25px;
  color: white;
}
h3 {
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

h6 {
  font-family: "Roboto", sans-serif;

  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 100;
}

#dayof {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  border-radius: 15px;
  background-color: #0000003f;
  color: #b8b8b8;
  text-align: center;
  width: 300px;

  font-size: 16px;
  padding: 15px;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: rgb(70, 70, 70);
}
